[mgr]
[[mgr.prepend_keymap]]
on = [ "m" ]
run = "plugin bookmarks save"
desc = "Save current position as a bookmark"

[[mgr.prepend_keymap]]
on = [ "'" ]
run = "plugin bookmarks jump"
desc = "Jump to a bookmark"

[[mgr.prepend_keymap]]
on = [ "b", "d" ]
run = "plugin bookmarks delete"
desc = "Delete a bookmark"

[[mgr.prepend_keymap]]
on = [ "b", "D" ]
run = "plugin bookmarks delete_all"
desc = "Delete all bookmarks"

[[mgr.prepend_keymap]]
on  = "M"
run = 'plugin mount'

[[mgr.prepend_keymap]]
# glow.yazi
on = ["<C-e>"]
run = "seek 5"
desc = "Scroll down"

[[mgr.prepend_keymap]]
# glow.yazi
on = ["<C-n>"]
run = "seek -5"
desc = "Scroll up"

